<ion-content color="primary" scrollY="false" scrollX="false">
  <div class="fullscreen-center">
    <form [formGroup]="loginForm" (ngSubmit)="formSubmit()">
      <img src="assets/logos/logo_icon.svg" />
      <h1>LOGIN</h1>
      <ion-input type="text" placeholder="USERNAME" formControlName="username"></ion-input>
      <ion-input type="password" placeholder="PASSWORD" formControlName="password" (keyup.enter)="enterLogin($event)"></ion-input>
      <ion-button type="submit" fill="clear" [disabled]="!loginForm.valid || submitting">
          <img src="assets/button/button_login.svg" />
      </ion-button>
      </form>
  </div>
</ion-content>