@import '../../../theme/variables.scss';

ion-grid, ion-row {
    height: 100%;
}

ion-button {
    display: block;
    height: auto;
    margin: 4rem auto 0 auto;
    
    &[disabled] {
        opacity: 0.2;
    }
}

form {
    width: 80%;
}

ion-item {
    margin-top: 1rem;
    --background: transparent;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
    --min-height: 0;
    --border-color: var(--ion-color-secondary);
    --background-focused: transparent;
}

ion-input {
    --color: var(--ion-color-secondary);
}

ion-label {
    --color: var(--ion-color-secondary);
}

img {
    display: block;
    margin: auto;
}

h1 {
    font-weight: 400;
    text-align: center;
}